@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
theme: {
    extend: {
     colors: {
        'uc-purple': '#481478',      
        'uc-purple-dark': '#320b57', 
        'uc-magenta': '#E3007B',     
        'uc-cyan': '#00A3E0',        
        'uc-gray': '#F2F2F2',
        },
        fontFamily: {
        sans: ['Inter', 'sans-serif'],
      }
    }
  }
}